ipp_binarios/*
*.pyc
*.o
*.so
lepetit-codigo/resources/ESM/bin/*
lepetit-codigo/resources/ESM/res/*
esmexample
main*d
codigo/videos/*.png
codigo/videos/*.PNG
lepetit-codigo/GEPARD_vs_1.0/base/basis
lepetit-codigo/*.png
*.avi
*.zip
*.bz2
codigo/videos/rgbd/aligned_scenes/*
codigo/videos/rgbd/objs/coffee_mug/*
codigo/videos/rgbd/scenes/desk/*
codigo/videos/rgbd/scenes/kitchen_small/*
codigo/videos/rgbd/scenes/meeting_small/*
codigo/pruebas_guardadas
*~
cmake*
CMake*
*.pcd
.idea
*.aux
*.log
*.toc
*.bbl
*.blg
*.out
*.tks
*.nav
*.snm
codigo/videos/moving_circle/*
codigo/videos/pelotita_naranja_webcam/*
codigo/videos/rgbd/objs/bowl/*
codigo/videos/rgbd/objs/cap/*
codigo/videos/rgbd/objs/flashlight/*
codigo/videos/rgbd/scenes/table_small/*
codigo/videos/rgbd/objs/cereal_box/
codigo/videos/rgbd/objs/soda_can/
codigo/videos/rgbd/scenes/table/
